* {
    margin: 10;
    padding: 0;
    box-sizing: border-box;
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                HEADING
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

a {
    color: rgb(173, 173, 173);
}

.container .navbar-dark .navbar-brand {
    color: rgb(173, 173, 173);
    text-align: center;
    padding-left:;
}

img {
    vertical-align: middle;
    border-style: none;
    margin-top: 15px;
}




/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                MAIN CONTENT
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 50px;
}

.card-container img {
    border-radius: 5%;
} 

.card-container .cozy {
    width: 200px;
    height: 320px;
}

.card-container .creek {
    width: 200px;
    height: 300px;
}

.card-container .studio {
    width: 200px;
    height: 250px;
}

.card-container .card .card-img {
    width: 300px;
    height: auto;
    margin: 5px;
}