header {
    margin: 30px;
}

.logo {
    display: inline-block;
    border: 1px solid black;
}


.menu {
    float:right;
}

.menu ul {
    list-style: none;
    background-color: aqua;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    display: block;
    text-decoration: none;
    border: 1px solid black;
    padding: 14px 16px;
}

main {
    background-color: rgba(50,50,50,0.2);
}

.content-container {
    margin: 50px;
}

.image {
    float: left;
}

.content {
    display: inline-block;
    margin-left: 20px;
    width: 60%;
}

.footer-container {
    width: 25%;
    margin: 20px;
    display: inline-block;
    border: 1px solid black;
}

.copyright-notice{
    text-align: center;
}