* {
    font-family: sans-serif;
    margin: 0;
}

.container {
    position: relative;
    text-emphasis: center;
    color: white;
}

.atl-image {
    width: 100%;
}

.top-right {
    font-weight: normal;
    color: rgb(165, 164, 164);
    position: absolute;
    top: 8px;
    right: 15em;
}

.logo {
    font-size: 30px;;
    position: absolute;
    width: 8em;
    height: 3em;
    top: 15%;
    left: 42.5%;
    transform: translate(-50%, -50%;)
}

.center {
    font-size: 30px;;
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%;)
}

.sub-title {
    color: rgb(194, 193, 193);
    font-size: 20px;
    position: absolute;
    top: 60%;
    left: 40%;
    text-align: center;

}

span {
    padding-left: 5em;
}

h1, h4 {
    font-weight: lighter;
}