body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
}

.container {
	margin: 0;
	padding: 0;
	background-color: #0BB634;
	width: 100%;
	height: 100%;
	display: inline-block;
}

.left {
	float: left;
	height: 100%;
	width: 300px;
	color: white;
	text-align: center;
	padding-top: 80px;
}

.right {
	float: left;
	width: calc(100% - 300px);
	height: 100%;
	background-color: white;
	color: #333;
}

.icon {
	border: 2px solid white;
    width: 70px;
    height: 55px;
    border-radius: 49px;
    font-size: 34px;
    margin: 0 auto;
    padding-top: 14px;
}

.myname {
	font-size: 20px;
	font-weight: bold;
	margin-top: 23px;
}

.cashtag {
	font-size: 15px;
	margin-top: 3px;
}

ul {
	list-style: none;
	margin: 0;
	margin-top: 70px;
	margin-bottom: 110px;
	padding: 0;
}

li {
	font-size: 20px;
	font-weight: bold;
	color: #10EE3C;
	margin-bottom: 45px;
	cursor: pointer;
}

li.active {
	color: white;
}

.new {
    margin: 0 auto;
    width: 170px;
    height: 36px;
    border-radius: 8px;
    padding-top: 13px;
    font-weight: bold;
    font-size: 20px;
	cursor: pointer;
	background-color: #15D642;
}

.new:hover {
	background-color: #16DF45;
}

.search {
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #eee;
}

.search input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 20px;
	padding-left: 80px;
}

input:focus {
	outline: none;
}

.buffer {
    background-color: #F7F7F7;
    width: 100%;
    height: 40px;
    padding-top: 60px;
    padding-left: 80px;
    color: #999;
}

.transactions {
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
}

.transaction {
	width: 100%;
	border-bottom: 1px solid #eee;
	padding: 30px 0px 45px 80px;
	color: #999;
}

.name {
	color: #333;
}

.name, .for, .date, .amount {
	float: left;
	width: 25%;
}