* {
    width: 800px;
}

.container-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-row .reverse-row {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.yellow {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100px;
    background-color: rgb(255, 230, 0);
}

.orange {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100px;
    background-color: rgb(255, 136, 0);
}